body {
    background: #fafaf9;
    /*background: rgb(6,1,93);
    background: linear-gradient(153deg, rgba(6,1,93,1) 0%, rgba(6,1,93,1) 0%, rgba(184,198,194,1) 69%);*/
}
.header {
    background-color: #e7e5e4;
    padding: 10px;
}
main {
    justify-content:center;
    text-align: center;
}
h1.home-content {
    display: block;
}

