/*@font-face {
    font-family: ;
    src: url();
}*/
body, html {
    background: #fafaf9;
    /*background: rgb(6,1,93);
    background: linear-gradient(153deg, rgba(6,1,93,1) 0%, rgba(6,1,93,1) 0%, rgba(184,198,194,1) 69%);*/
}
.container {
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
}
/*
---------- HEADER ----------
*/
.header {
    background-color: #e7e5e4;
    padding: 10px;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    
}
.navbar-element {
    display: inline;
    padding-left: 12px;
    
}
li {
    text-align: center;
    display: block;
}


/*
---------- HOME ----------
*/


.home {    
    width: 100vw;
    height: 100vh;
}
main {
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

h1.home-content {
    font-family: Futura;
}
.icons {
    
}


/*
---------- ABOUT ME ----------
*/


.about-me-content {
    overflow: hidden;
}
.personal {
    float: left;
    margin-left: 70px;
}
.interests {
    float: right;
    margin-right: 70px;
}
#about-me-and-interests {
    width: 40%;

    text-align: justify;
}

